<div id="message-<%= message.id %>">
  <small>
    <% if message.from_chatbot %>
      <em id = "">JOI</em>
    <% else %>
      <em><%= current_user.first_name %></em>
    <% end %>
  </small>
  <div class="pt-2"><%= message.content %></div>
</div>
