.client-name {
  font-family: 'Hurricane', cursive;
  font-size: 50px;
  font-weight: lighter;
}

.pharmacy-name {
  font-family: 'Noto Serif Lao', serif;
  font-weight: lighter;
  margin-bottom: 60px;
  padding-left: 7px;
}

.active {
  font-family: 'Noto Serif Lao', serif;
  font-weight: lighter;
  padding-left: 7px;
  color: #E29578;
}

.steps {
  font-family: 'Noto Serif Lao', serif;
  font-size: 20px;
}
