<% if user_signed_in? %>
  <% if current_user.chatbots.empty? %>
    <div class="chat-div">
      <%= link_to chatbots_path, data: { turbo_method: :post }, class: "chat-button" do %>
      <%# <div class='chat-circle'> %>
        <i class="fa-regular fa-comment chat-icon"></i>
      <%# </div> %>
      <% end %>
    </div>
  <% else %>
    <div class="chat-div">
      <%= link_to chatbot_path(current_user.chatbots.last), class: 'chat-button' do %>
        <%# <div class='chat-circle'> %>
          <i class="fa-regular fa-comment chat-icon"></i>
        <%# </div> %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%# text-decoration: none; %>
