<div class="person">
  <div class="containerz">
    <div class="containerz-inner">
      <img
        class="circlez"
        src="">
      <img
        class="img img1"
        src="<%= image_path(image) %>">
    </div>
  </div>
  <div class="divider"></div>
  <div class="name"><%= name %></div>
  <div class="title"><%= title %></div>
</div>
