<div class='container mt-2 pt-5'>
  <h1 id='status-title' class='m-0 pb-2'>Your Order Status</h1>
  <h2 class='order-date mb-5'><%= @order.order_date.strftime("%B %d %Y") %></h2>

  <div class="d-grid gap-3">
    <% @order.refills.each do |refill| %>
      <div class="p-2 bg-light border rounded p-3">
          <div class="d-flex flex-row">
            <img src="<%= image_path("pill.png") %>" alt="pill" class="pill-icon"/>
            <div class='flex-grow-1 align-items-center order-cards'><%= refill.user_medication.medication.name %></div>
            <% if refill.status == 'received' %>
              <i class="status fa-solid fa-file-circle-plus"></i>
            <% elsif refill.status == 'in_process' %>
              <i class="status fa-solid fa-gear"></i>
            <% elsif refill.status == 'complete' %>
              <i class="status fa-regular fa-circle-check"></i>
            <% else %>
            <i class="dash bi bi-dash-circle"></i>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
  <div class='d-flex justify-content-center mt-5 mb-3'>
    <%= link_to "Back", dashboard_path, class: 'btn btn-primary' %>
  </div>
</div>
