<div class='container mt-5'>
  <h1>Your Order Status</h1>
  <%= @order.order_date %>

  <div class="d-grid gap-3">
    <% @order.refills.each do |refill| %>
      <div class="p-2 bg-light border">
        <div>
          <%# <img src="assets/pill.png" alt="pill" class="pill-icon"/> %>
          <%= cl_image_tag("pill_hksozw",
          width: 20, height: 20, crop: :thumb) %>&nbsp;&nbsp;&nbsp;
          <%= refill.user_medication.medication.name %>
        </div>

        <div><%= refill.status %></div>
      </div>
    <% end %>
  </div>
</div>
