<div class='container mt-5'>
  <h1>Your Order Status</h1>
  <%= @order.order_date %>

<div class="d-grid gap-3">
  <% @order.refills.each do |refill| %>
    <div class="p-2 bg-light border">
      <div>
      <%= cl_image_tag("mfg5lydicsxlmtuzihd4",
      width: 50, height: 50, crop: :thumb, gravity: :face) %>
      <%# <img src="assets/pill.png" alt="pill" class="pill-icon"> %>
      <%= refill.user_medication.medication.name %>
      </div>
    <% end %>
  </div>
</div>
