<div class='container mt-5'>
  <h1>Your Order Status</h1>
  <% @order.refills.each do |refill| %>
    <div class='border'>
      <div><%= refill.user_medication.medication.name %></div>
      <div><%= refill.status %></div>
    </div>
  <% end %>
</div>
