 <!-- Mashead header-->
<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
          <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-1 lh-1 mb-3">Showcase your app beautifully.</h1>
          <p class="lead fw-normal text-muted mb-5">A web platform that actively tracks the status of your prescriptions </p>
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="assets/illust.png" alt="..." /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
          <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
          <div class="container px-5">
            <div class="row gx-5 justify-content-center">
              <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"An intuitive solution to a common problem that we all face, wrapped up in a single app!"</div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</header>
