 <!-- Mashead header-->
<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
          <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-1 lh-1 mt-5 mb-3">Efficiently Manage your Scripts</h1>
          <p class="lead fw-normal text-muted mt-3 mb-5">A web platform that actively tracks the status of your prescriptions </p>
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <a class="me-lg-3 mb-lg-0" href="#!"><img class="app-badge" src="assets/illust.png" alt="..." /></a>
          </div>
        </div>
      </div>
</header>
      <div class="col-lg-6">
          <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
          <div class="container py-5 px-5">
            <div class="row gx-5 justify-content-center">
              <div class="col-xl-8">
                <div class="h2 fs-1 text-white mt-4 mb-4">"An intuitive solution to a common problem that we all face, wrapped up in a single app!"</div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>

<%# ___________________________________________________________________________________________ %>
<%# ___________________________________________________________________________________________ %>
<%# ____________________________________________________________________________________________ %>
<!-- App features section-->
<section id="features">
    <div class="container py-3 px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-1 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Awesome Design</h3>
                                <p class="text-muted mb-0">Very easy to use and has an intuitive design!</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-camera icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Flexible Use</h3>
                                <p class="text-muted mb-0">Know the status of your medication anywhere & anytime!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Free to Use</h3>
                                <p class="text-muted mb-0">Anyone can use this platform free of charge!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
