.ts-wrapper.multi .ts-control [data-value] {
  background-color: #83C5BE;
  background-image: linear-gradient(to bottom, #83C5BE, #83C5BE);
}

.ts-wrapper.multi .ts-control > div {
  background: #83C5BE;
}

.option.active {
  font-family: 'Jost', sans-serif;
}

.create.active {
  font-family: 'Jost', sans-serif;
}

#info-title {
  margin-bottom: 30px;
}
