.chat-icon {
  color: #EDF6F9;
  padding: 10px;
  background-color: #83c5c0c9;
  border-radius: 50%;
  display: flex;
  // position: fixed;
  font-size: 34px;
  // bottom: 20px;
  // right: 20px;
  z-index: 3000;
  opacity: 1;
  transform: scaleX(-1);
}

.chat-div {
  position: sticky;
  bottom: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  // margin-top: -50px;
  z-index: 10;
  text-decoration: none;
}

.chat-button {
  text-decoration: none;
}

.chatbot {
  margin-top: 9px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

h1 {
  border-bottom: 1px solid $gray-200;
  margin-bottom: 0;
  padding: 1rem;
}

.messages {
  height: 100%;
  overflow: scroll;
  padding: 1rem;
}

#new_message {
  border-top: 1px solid $gray-200;
  padding: 1rem;

  .form-group {
    margin-bottom: 0;
    padding: 1rem;
  }
}

.messages {
  height: 100%;
  overflow: scroll;
  padding: 1rem;
  color: white;
}

// body {
//   background: #333;
//   padding-top: 5em;
//   display: flex;
//   justify-content: center;
// }

/* DEMO-SPECIFIC STYLES */
.typewriter {
  color: black;
  font-family: 'Nanum Myeongjo', serif;
}

.animated {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  // border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  // letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(45, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#animation {
  animation: color-change 4s infinite;
}

@keyframes color-change {
  20% { color: blue; }
  50% { color: red; }
  30% { color: green;}
}

#line-seperator {

}
