@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.order-date {
  color: #AEAEAE;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: lighter;
  font-style: italic;
  padding-left: 10px;
}

.order-show {
 padding-left: 5px;
}
