// Import your components CSS files here.
@import "alert";
@import "allergy";
@import "avatar";

@import "banner";
@import "button";
@import "buttonhome";

@import "cardcategory";
@import "cardmed";
@import "cardproduct";
@import "cardtrip";
@import "chatbot";

@import "date";

@import "footer";
@import "form_legend_clear";
@import "flexbox";

@import "home";

@import "message";

@import "navbar";
@import "notification";

@import "page_title";
@import "personal";
@import "pill";

@import "review";
@import "notification_bell";

@import "searchform";
@import "selfies";
@import "status";
@import "selected";


@import "urgency";
@import "header";
