#bell {
  position: relative;
}

#red-dot {
  position: absolute;
  top: 13px;
  font-size: 8px;
}

.bell-af::after {
  display: none;
}

.dropdown-menu-end {
  border:solid;
  border-radius: 25px 10px;
  min-height: 50px;
}

.noti-message {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.noti-button {
  margin-bottom: 3px;
}
