.status {
  color: #4FBE54;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.gear {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.check {
  font-size: 25px;
  display: flex;
  align-items: center;
}
