.status {
  color: #4FBE54;
  display: flex;
  align-items: center;
  font-size: 25px;
}

// .gear {
//   color: #4FBE54;
//   display: flex;
//   align-items: center;
// }

// .check {
//   color: #4FBE54;
//   display: flex;
//   align-items: center;
// }
